# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Data
implementations/moe-model/data/*.npy
implementations/moe-model/data/gating_model.pt
implementations/moe-model/data/gating_train.csv
implementations/moe-model/data/extracted_texts/
implementations/moe-model/data/raw_pdfs/
implementations/moe-model/data/subdomains/
implementations/moe-model/data/gating_queries/

!implementations/moe-model/data/gating_train.csv