arxiv==2.2.0
beautifulsoup4==4.13.4
bs4==0.0.2
cassio==0.1.10
chromadb==1.0.15
faiss-cpu==1.11.0
fastapi==0.116.1
flask==3.1.1
fpdf==1.7.2
google-adk==1.6.1
google-generativeai==0.8.5
groq==0.30.0
jupyter==1.1.1
langchain-google-genai==2.0.10
langchain-groq==0.3.6
langchain_community==0.3.27
langchain_core==0.3.68
langchain_openai==0.3.27
langchainhub==0.1.21
langchain-huggingface==0.3.0
langserve==0.3.1
networkx==3.5
numpy==2.3.1
pandas==2.3.1
pdfplumber==0.11.7
pypdf==5.8.0
pypdf2==3.0.1
python-dotenv==1.1.1
scikit-learn==1.7.0
sentence-transformers==5.0.0
spacy==3.8.7
sse_starlette==2.4.1
streamlit==1.46.1
torch==2.7.1
uvicorn==0.35.0
wikipedia==1.4.0
