arxiv
beautifulsoup4
bs4
cassio
chromadb
faiss-cpu
fastapi
flask
fpdf
google-adk
google-generativeai
groq
jupyter
langchain-google-genai
langchain-groq
langchain-objectbox
langchain_community
langchain_core
langchain_openai
langchainhub
langserve
networkx
numpy
pandas
pdfplumber
pypdf
pypdf2
python-dotenv
scikit-learn
sentence-transformers
spacy
sse_starlette
streamlit
torch
uvicorn
wikipedia