# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints/
# Data
data/*.npy
data/gating_model.pt
data/gating_train.csv
data/extracted_texts/
data/raw_pdfs/
data/subdomains/
data/gating_queries/

!data/gating_train.csv